* {
    box-sizing: border-box;
}

.header{
    font-size: 15px;
    padding: 0 0 50px 0;
    color: white;
    background: #000000;
}

.headimg {
    float: left;
}

.body{
    float: left;
    width: 20%;
    text-align: center;
    background-color: antiquewhite;
}

.home {
    text-align: center;
    color: #ccc82d;
    padding: 5px 0 25px 0;
    background-color: #000000;
}

.home img {
    max-width: 100%;
    max-height: 100%;

    -o-object-fit: contain;
    object-fit: contain;
}

.main{
    overflow: auto;
    width: 100%;
}

.about {
    font-size: 15px;
    text-align: left;
    background-color: #bd120b;
    color: white;
    padding: 20px 20px 10px 20px;
    border-style: outset;
    border-color: #ccc82d;
}

.about img {
    width: 100%;
}

.filler {
    padding-top: 20px;
}


.textbox {
    font-family: "Centaur";
    font-size: 20px;
    color: #ccc82d;
}

.alignleft {
    padding-left: 20px;
    float: left;
}

.alignright {
    padding-right: 20px;
    float: right
}

.signup a {
    position: relative;
    padding: 20px 40px 20px 40px;
    color: white;
    alignment: center;
    background-color: #bd120b;
    height: 80px;
    border-radius: 30px;
    text-decoration: none;
}

.rush {
    text-align: center;
}

.rush-contact {
    font-size: 20px;
    font-family: "Helvetica Neue";
    color: white;
    background-color: #076813;
    padding: 5px 15px 20px 15px;
    text-align: center;
}

.leadership {
    text-align: center;
}

.footer {
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #000000;
}

/* link stuff */
.links {
    width: 100%;

    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.links::after {
    content: "";
    clear: both;
    display: table;
}

/* Resizing for different screens */
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
        width: 80%;
        padding: 0;
    }
    .footer, .header {
        width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .main, .header, .footer, .columnm, .portraits, .portrait-box, .about video {
        width: 100%;
    }
}


/* video stuff */
video {
    object-fit: fill;
    width: 100%;
    /*height: 60%;
    width: 60%;*/
    /*-webkit-transform: scaleX(2);
    -moz-transform: scaleX(2);*/
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 822;
    }
    to {
        stroke-dashoffset: 0;
    }
}