.header{
    padding: 20px;
    color: white;
    background: red;
}

.body{
    text-align: center;

}

.footer {
    font-size: larger;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #FAEBD7;
}